* {
  margin: 0;
  background-color: #282c34;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.App {
  text-align: center;
  color: #ffffff;
}

.title {
  color: #61dafb;
}

.text {
  color: #ffffff;
  margin-top: 25px;
}

.timer-wrapper {
  margin-top: 25px;
}
