* {
  margin: 0;
}

body {
  background-image: url("https://img.freepik.com/free-vector/realistic-halloween-spider-web-background_52683-72551.jpg?w=1380&t=st=1666910398~exp=1666910998~hmac=86743b462c47ef814e0b23906052b1d79ddd90a987986bb5a466c8c9b7ae71ea");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #282c34;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.App {
  text-align: center;
  color: #ffffff;
}

.title {
  color: #E66C2C;
}

.text {
  color: #ffffff;
  margin-top: 25px;
}

.timer-wrapper {
  margin-top: 25px;
}
